<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speak</title>
</head>
<body>
    <p>Enter Text for Speak</p>
    <form method="get" action="/speak">
        <p><input type='text' name="target" placeholder="enter a function term"></p>
        <p><input type="submit"></p>
    </form>
    {% if sound %}
    <audio controls>
        <source src="../static/{{sound}}">
    </audio>
    {% endif %}
</body>
</html>